<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Examination Portal</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <div class="image-section">
            <img src="images/st.jpg" alt="Student using online portal">
        </div>
        <div class="info-section">
            <h2>Welcome to the Online Examination Portal</h2>
            <p>Unleash Your Academic Success with Our Secure and Reliable Examination Platform</p>
            <div class="button-group">
                <a href="/login-student" class="login-button student-button">Login as Student</a>

                <a href="/login-teacher" class="login-button teacher-button">Login as Teacher</a>
            </div>
        </div>
    </div>
</body>
</html>
